extends layout

block content
  include mixins/restaurantCard
  div.container
    each restaurant in restaurants
      +restaurantCard(restaurant)
    div.card
      div.card-header
        div.backdrop
        div.card-title Jack-IN-THE-Box
        img.card-header-image(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDCxFREXXXKc69lq9DE0GZLoVoYRLdGAuKjA&usqp=CAU')
      div.card-body
        div.edit
          a(href='#') Edit
        div.card-details
          div.category American
          div.rating
            -for(let i = 0; i<restaurant.rating; i++)
            span &#X2b50;
        div.description=restaurant.description
            //a single pipe | allows you to type free floating text
            |SHBDVPOEJGORNMBVOIPSF
            |SHBDVPOEJGORNMBVOIPSF
            |SHBDVPOEJGORNMBVOIPSF